.Notification {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 60px;
    width: 0px;
    transition: 0.2s all;
    z-index: 50;
    opacity: 0.9;
    overflow: hidden;
    &:hover {
        opacity: 1;
    }
    &_show {
        width: 420px;
    }
    &_black {
        background-color: black;
        .Notification__message {
            color: white;
        }
    }
    &_red {
        
        .Notification__message {
            color: red;
        }
    }
    &__message {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 420px;
        text-align: center;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 100;
    }
}